.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #ce1532;
    margin-bottom: 20px;
}

.my-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    padding-left: 20px;
    color: white;
}

.menu{
    display: flex;
    align-items: center;
}

.my-class-menu{
    color: #ce1532;
    background-color: #FFBDBD;
    border-radius: 10px;
}

.search {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 30px;
    padding: 10px;
    height: 40px;
    margin-right: 20px;
}
  
.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
}
  
.search-field {
    width: 300px;
    border: 0; 
    background-color: #EEE;
}
  
.search-field:focus {
    outline: none;
}

.body {
    background-color: #EEE;
}



.footer {
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: 200px;
    flex: 0 0 auto;
    background-color: #C0C0C0;
}


