html,body{
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #ce1532;
}

.my-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    padding-left: 20px;
    color: white;
}

.menu{
    
    display: flex;
    align-items: center;
}

.my-class-menu{
    color: #ce1532;
    background-color: #FFBDBD;
    border-radius: 10px;
}

.my-class-menu:hover{
    background-color: rgba(255, 189, 189,0.5)
}


.body {
    background-color: #EEE;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}
