{% extends 'base.html' %}
 
{% load static %}

{% block add_css%} 
  <link rel="stylesheet" href="{% static 'psu/css/index.css' %}">
{%endblock%}

{% block title%} 
  django project
{%endblock%}

{% block content%}

<h2 class = "home-page-title">Возможные проблемы</h2>

<div class= "row row-cols-1 row-cols-md-3 g-4">
  {% for pr in list %}
  <div class = "col">
    <div class = "card h-100 my-card">
      <div class = "card-img">
        {% if pr.icon %}
            <img src="{{pr.icon.url }}" style = 'max-width:80px'>
        {% endif %}
      </div>
      <div class = "card-body">
        <h5 class = "card-title my-class">{{pr.naming}}</h5>
        <p>{{pr.description}}</p>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}
