{% extends 'base.html' %}
 
{% load static %}

{% block add_css%} 
  <link rel="stylesheet" href="{% static 'psu/css/index.css' %}">
{%endblock%}

{% block title%} 
  django project
{%endblock%}

{%block search%}
<form action = "{% url 'search' %}" method = "get">
<div class="search">
  <input type="text" type = "search" class="search-field" placeholder="Введите поисковый запрос" name = "srh" value = "{{request.GET.search}}" >
  <img src="{% static 'psu/img/search.svg'%}" alt="" class="search-icon">
</div>
</form>
{%endblock%}

{% block content%}

<h2 class = "home-page-title">Возможные проблемы</h2>

<div class= "row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for pr in list %}
  <a class = "my-link" href ="{{pr.get_absolute_url}}">
    <div class= "col">
      <div class = "card h-100 my-card">
        <div class = "card-img">
          {% if pr.icon %}
              <img src="{{pr.icon.url}}" style = 'max-width:80px'>
          {% endif %}
        </div>
        <div class = "card-body">
          <h5 class = "card-title my-class">{{pr.naming}}</h5>
          <p class= "pr-description">{{pr.description}}</p>
        </div>
      </div>
    </div>
  </a>
  {%endfor%}
</div>

{%endblock%}

{%block footer%}
<footer class = 'footer'>
  <div class = "container">
    <div class= "row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for cont in contact %}
        <div class = "col">
          <div class = "card h-60 my-footer">
            <div class = "card-body">
              <p class = "contact-text">
                {{cont.surname}}<br>
                {{cont.name}}<br>
              </p>
              <p class = "contact-text">
                {{cont.email}}<br>
                {{cont.tel}}<br>
              </p>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
  </div>
</footer>
{%endblock%}
